@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);

/*General rules*/
/*---------------------------------------*/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0px 0px;
    background-color: #eaeaea;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.clear {
  clear: both;
}

.visible {
  display: block;
}

.faded {
  /*opacity: 0 !important;*/
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

/*Colors*/
/*---------------------------------------*/

.blue     { background-color: #2e95ff; }
.green    { background-color: #33c683; }
.pink     { background-color: #da6ba4; }
.purple   { background-color: #c955da; }
.blue     { background-color: #2e95ff; }
.darkgrey { background-color: #555353; }
.darkblue { background-color: #1559c0; }
.orange   { background-color: #eeb438; }
.red      { background-color: #df5252; }
.grey     { background-color: #b0b0b0; }

/*Base layout*/
/*---------------------------------------*/

#top-stripe {
  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 8px;
  background-color: #353535;
}

#main-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}

#left-column {
  background-color: #ebebeb;
  float: left;
  width: 19%;
  height: 100%;
}

#mid-column {
  position: relative;
  background-color: #f4f4f4;
  height: 100%;
  float: left;
  width: 62%;
  /*width: 61%;*/
}

.border-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}

.mid-top {
  height: 82%; 
  height: -moz-calc(84% - 8px);
  height: -webkit-calc(84% - 8px);
  height: calc(84% - 8px);
  padding-top: 8px;
  width: 100%;
}

.mid-bottom {
  height: 10%; 
  width: 100%;
}

#chat-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.messages-wrapper {
  padding: 20px 0px;
}

#send-form {
  /*position: absolute;*/
  border-top: 1px solid #d1d1d1;
  /*bottom: 0px;*/
  /*left: 0px;*/
  width: 100%;
  /*height: 100%;*/
}

#right-column {
  background-color: #ebebeb;
  float: right;
  width: 19%;
  height: 100%;
}

/*Left column*/
/*---------------------------------------*/

#logo-container {
  text-align: center;
  padding: 60px 20px;
}

#logo-container img {
  position: relative;
  top: 0px;
  left: 0px;
}

#user-stripe {
  position: relative;
  background-color: #353535;
  height: 50px;
}

#user-stripe-color {
  width: 6px;
  height: 68px;
  bottom: -8px;
  left: 0px;
  position: absolute;
}

#user-icon {
  position: absolute;
  top: 13px;
  left: 11%;
}

#user-stripe-nick {
  position: absolute;
  top: 15px;
  left: 25%;
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  color: #fff;
}

#settings-icon {
  position: absolute;
  top: 13px;
  right: 7%;
}

/*Mid column*/
/*---------------------------------------*/

.message {
  margin-bottom: 5px;
  width: 96%;
  margin: 2px auto 0px auto;
  /*padding: 3px 10px 4px 0px;*/
  font-size: 13px;
  /*min-height-height: 20px;*/
  font-family: 'Open Sans', Arial, sans-serif;
}

.message-nick-wrapper {
  float: left;
  width: 25%;
  width: -moz-calc(25% - 144px);
  width: -webkit-calc(25% - 144px);
  width: calc(25% - 144px);
  text-align: right;
}

.message-nick {
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  position: relative;
  top: 4px;
  color: #fff;
  border-right: 2px solid #f4f4f4;
  height: 100%;
  padding: 5px 10px 5px 10px;
}

.message-content {
  position: relative;
  float: right;
  width: 75%;
/*  width: -moz-calc(60% + 144px);
  width: -webkit-calc(60% + 144px);
  width: calc(60% + 144px);
*/  padding: 4px 132px 4px 12px;
  background-color: #fbfbfb;
  margin-bottom: 2px;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  word-wrap: break-word;
}

.message-time {
  position: absolute;
  top: 3px;
  right: 11px;
  color: #b8b8b8;
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 13px;
}

/*Right column*/
/*---------------------------------------*/

#user-list-copy {
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  font-size: 30px; 
  color: #353535;
  text-align: center;
  padding: 60px 20px;
}

.online-user-stripe {
  position: relative;
  background-color: #494949;
  width: 100%;
  top: 0px;
  left: 2px;
  width: -moz-calc(100% - 2px);
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
  height: 31px;
  margin-bottom: 3px;
}

.user-circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #1dc238;
  position: absolute;
  top: 12px;
  left: 33px;
}

.user-typing-pen {
  position: absolute;
  top: 4px;
  left: 55px;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out; /* Firefox 4 */
  -webkit-transition: opacity 2s ease-in-out; /* Safari and Chrome */
  -o-transition: opacity 2s ease-in-out; /* Opera */
}

.user-list-nick {
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 86px;
}

.user-color-box {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  right: 6px;
}

/*Bottom send message form*/
/*---------------------------------------*/

#input-text {
  border-radius: 0px;
  width: 80%;
  /*outline: none;*/
  /*border:none !important;*/
  box-shadow:none !important;
  font-family: 'Open Sans', Arial, sans-serif;
}

#send-msg-form {
  padding: 30px;
}

#send-message-button {
  /*display: inline-block;*/
  background-color: #2e95ff;
  border: 1px solid #7d7d7d;
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  margin: 0px 0px 0px 10px;
  padding: 4px;
  position: relative;
  left: 0px;
  bottom: 5px;
  width: 13%;
}

#bottom-sendmsgform-container {
  position: fixed;
  padding: 30px;
  bottom: 0px;
  left: 0px;
  background-color: #1b1b1b;
}

/*Login box*/
/*---------------------------------------*/

.login-box {
  margin: 10% auto 0px auto;
  text-align: center;
  width: 500px;
  height: 330px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .28);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .28);
}

.login-top {
  text-align: center;
  background-color: #f9f9f9;
  padding: 40px 0px;
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  color: #4b4b4b;
  font-size: 25px;
}

.login-bottom {
  padding: 40px 50px 20px 40px;
  text-align: right;
}

.login-row {
  margin-bottom: 20px;
}

.colors-container {
  width: 300px;
  margin-left: 10px;
  display: inline-block;
  padding: 0px 14px 5px 0px;
}

.color-label {
  vertical-align: top;
}

.color-box {
  border: 1px solid #fff;
  width: 21px;
  height: 21px;
  border-radius: 2px;
  margin: 0px 7px 8px 0px;
  float: left;
  cursor: pointer;
}

.color-box.selected {
  border: 1px solid #353535;
}

.login-row input {
  outline: none;
  /*border:none !important;*/
  border-radius: 0px;
  box-shadow:none !important;
  border: 1px solid #eaeaea;
  width: 300px;
  margin-left: 10px;
}

.login-row-btn {
  text-align: right; 
  margin-top: 0px;
}

.login-row-btn span {
  color: #ff7a7a;
  font-family: 'Open Sans Light', Arial, sans-serif;
  margin-right: 20px;
}

.login-row-btn button {
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  border-radius: 0px;
}

.login-row label {
  width: 70px;
  font-family: 'Open Sans Light', Arial, sans-serif;
  color: #4b4b4b;
  text-align: right;
}

.login-top img {
  margin-right: 20px;
  position: relative;
  bottom: 1px;
}

#overlay-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.95);
  z-index: 999;
}

.typing-notification {
  margin-bottom: 5px;
  padding: 3px 10px 4px 3px;
}

.typing {
	color: #ababab;
	font-size: x-small;
}



#outer {
    width: 600px;
    margin: 0 auto;    
}

#main-container {
  padding: 50px 0px 200px 0px;
}

