body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0px 0px;
    background-color: #eaeaea;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.usersbox {
  border-radius: 5px;
  background-color: #fff;
  margin: 0px 30px 0px 5px;
  padding: 10px;
  width: 100%
  min-height: 300px;
}

.single-message {
  margin-bottom: 5px;
  padding: 3px 10px 4px 3px;
  background-color: #fff;
  border-radius: 3px; 
}

.typing-notification {
  margin-bottom: 5px;
  padding: 3px 10px 4px 3px;
}

.typing {
	color: #ababab;
	font-size: x-small;
}

.message-time {
  color: #aaa;
}

.login-box {
  margin: 10% auto 0px auto;
  width: 300px;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

#main-container {
  padding: 50px 0px 200px 0px;
}

#overlay-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  z-index: 999;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
